.admin-users-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    overflow-y: auto;
    height: 100vh;
    min-height: 100vh;
}

.admin-users-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.user-stats-container {
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.user-table-container {
    width: 100%;
    border-radius: 8px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.user-table th,
.user-table td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


.search-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 15px 0px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    text-indent: 10px;
}

.search-btn:hover {
    background-color: #0077cc;
}

/* 관리자 설정 버튼 */
.admin-btn {
    padding: 6px 14px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-btn.selected {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.admin-btn:hover {
    background-color: #e0e0e0;
}

/* 강제 탈퇴 버튼 */
.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 10px;
    transition: background 0.3s ease;
}

.delete-btn:hover {
    background-color: #cc0000;
}

@media (max-width: 768px) {
    .active-user-table th:nth-child(2),
    .active-user-table td:nth-child(2),
    .active-user-table th:nth-child(3),
    .active-user-table td:nth-child(3) {
        display: none;
    }

}