body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

#chatContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh; /* 화면 전체 높이를 사용 */
    width: 100vw;
}

#messagesContainer {
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
    margin-top: 60px;
    padding: 10px;
    /*overflow-y: auto; !* 스크롤이 가능하도록 *!*/
    height: calc(100vh - 80px - 60px); /* 입력창 높이를 뺀 채팅창 높이 */
    padding-bottom: 80px; /* 입력창이 가리지 않도록 추가 */
}

#messagesContainer-scroll{
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    height: calc(100vh - 80px - 60px);
}

#userInputContainer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box; /* padding, border 포함하여 크기 조정 */
}

#textQuestion {
    flex: 1;
    background-color: #eaeaea;
    padding: 10px;
    border: none;
    border-radius: 40px;
}

/*#sendButton,*/
/*#recordButton,*/
/*#textQuestionButton {*/
/*    background-color: #4caf50;*/
/*    color: white;*/
/*    padding: 10px 20px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    margin-left: 10px;*/
/*}*/

#sendButton,
#stopButton{
    background-color: #4ca9e7;
    border-radius: 100%;
    padding: 3px;
    width: 24px;
    height: 24px;
    margin:3px;
}

#startRecordingButton,
#stopRecordingButton{
    background-color: #6cc853;
    border-radius: 100%;
    padding: 3px;
    width: 24px;
    height: 24px;
    margin:3px;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-width: 90%;
    word-wrap: break-word; /* 긴 텍스트가 잘리거나 넘치지 않도록 처리 */

    display: flex;
    alignItems: center;
    marginBottom: 10px;
}

.message.bot {
    /*background-color: #e1e1e1;*/
    align-self: flex-start;
    flex-direction: row;
    margin-right: auto;
}

.message.user {
    background-color: #e8e8e8;
    align-self: flex-end;
    margin-left: auto;
}

.chat-row img {
    width: 50px;
    height: 50px;
    margin-right: 5px; /* 아이콘과 메시지 사이의 간격 */
}

.chat-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 메시지 간 간격 */
}

#audioPlayback {
    width: 100%;
    display: none;
}

#audioContainer {
    margin-top: 10px;
    display: none;
}

#recordButtonActive {
    background-color: #f44336;
}

#recordButton {
    background-color: #4caf50;
    border-radius: 100%;
    padding: 3px;
    width: 24px;
    height: 24px;;
}

#loadMoreButton {
    background-color: #cecece;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0;
    width: 80%;
    cursor: pointer;
    text-align: center;
}

#stopButton{
    background-color: #4ca9e7;
    border-radius: 100%;
    padding: 3px;
    width: 24px;
    height: 24px;
}

#divloadMoreButton {
    display: flex;
    justify-content: center;
}

.div-loadMoreButton{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

