.ask-ai {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1; /* Take up available space */
}

.main-content {
    display: flex;
    flex: 1;
    height: 100%;
}

.chatbot-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-top: 2px solid #ccc;
    position: fixed;  /* absolute → fixed로 변경 */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    height: calc((100% - 60px) / 2);
    overflow: hidden;
    padding-top: 20px;
    pointer-events: none;  /* 클릭 방지 */
}

.chatbot-section.visible {
    transform: translateY(0);
    pointer-events: auto;  /* 활성화 시 클릭 가능 */
}

.chatbot-messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px; /* 채팅 메시지 패딩 */
}

.image-result-message {
    /*display: flex;*/
    align-items: flex-start;
    margin: 5px;
    background-color: #e6e6e6;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    flex:1;
    position: relative;
    margin-left: 10px;
}
/* 말풍선 꼬리 만들기 */
.image-result-message::after {
    content: "";
    position: absolute;
    top: 13px; /* 꼬리가 시작되는 위치 (필요시 조정) */
    left: -19px; /* 이미지와 말풍선 사이에 꼬리가 나타나도록 위치 조정 */
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #e6e6e6; /* 말풍선 배경과 동일하게 */
}

.message.user {
    justify-content: flex-end;
}

.message.ai {
    justify-content: flex-start;
}

.profile-pic {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-bubble {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.5;
    word-break: break-word;
}

.message.user .message-bubble {
    background-color: var(--primary-color);
    color: white;
    border-top-right-radius: 0;
}

.message.ai .message-bubble {
    background-color: #e6e6e6;
    color: #333;
    border-top-left-radius: 0;
}

.chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
}

.chat-input button {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.chat-input button:hover {
    background-color: var(--secondary-color);
}

.image-section {
    flex-grow: 1; /* Allow image section to grow and take available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    background-color: var(--background-color);
}

/*.image-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: auto; !* 자동 크기 조정 *!*/
/*    max-width: 80%; !* 최대 너비 설정 *!*/
/*    max-height: 80%; !* 최대 높이 설정 *!*/
/*}*/

.uploaded-image {
    width: 100%; /* 이미지를 컨테이너에 맞게 크기 조정 */
    height: auto; /* 이미지 비율 유지 */
    object-fit: contain; /* 이미지 비율 유지 */
}

.retake-button {
    width: 150px;
    padding: 5px;
    background-color: #4ca9e7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.retake-button:hover {
    background-color: #4ca9e7;
}

.initial-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    overflow: hidden;
    position: relative;
}

.upload-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px dashed var(--primary-color);
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #e6f0ff;
}

.camera-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-bottom: 10px;
}

.camera-icon {
    width: 50%;
    height: 50%;
    filter: brightness(100%) invert(1);
}

.upload-button p {
    font-size: 18px;
    color: var(--primary-color);
    margin: 0;
    text-align: center;
}

.open-chat {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ffffff; /* 버튼 배경 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #cccccc;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.open-chat:hover {
    transform: scale(1.1);
}

/* 아이콘 이미지 스타일 */
.chat-icon {
    width: 50%; /* 아이콘 크기 조절 */
    height: 50%;
    filter: invert(1); /* 아이콘 색 반전 */
}

.close-chat {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #999;
}

.close-chat:hover {
    color: #333;
}

.image-result-wrapper{
    margin-top: 15px;

}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* 부모 컨테이너에 상대 위치를 설정 */
    width: 70%;
    height: auto;

}

.bounding-box {
    position: absolute; /* 부모 컨테이너에 절대 위치 지정 */
    border: 2px solid red;
    z-index: 10; /* 이미지 위에 바운딩 박스 표시 */
}

.bounding-label {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 3px;
    font-size: 12px;
}
.image-upload-wrapper{
    margin: 10px auto;
    font-size: 12px;
}

.image-result-section{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    text-align: center;
}

.blue-text {
    color: #4ca9e7;
    font-weight: bold;
}

.ask-ai-p{
    font-size: 10px;
    margin: 0 auto;
    padding: 0;
    color: gray;
}

/* 드래그 핸들러 */
.drag-handle {
    width: 40px;
    height: 24px;
    cursor: ns-resize;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    user-select: none;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
}

/* 햄버거 메뉴 스타일 */
.drag-handle div {
    width: 30px;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}



