  .board-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100vw;
    padding-top: 20px;
    overflow: auto;
  }
  
  .board-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .board-qna-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
  }

  /* 게시판 헤더: 타이틀 & 버튼 정렬 */
  .board-header {
    width: 100%;
    height: 20vh;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between; 
    
    /* top: 40px; */
    /* transform: translateX(-50%); */
    /* align-items: flex-start;; */
  }
  
  /* QnA 게시판 타이틀 */
  .qna-header {
    font-size: 1.8rem;
    color: #333333;
    /* margin: 0; */
  }
  
  /* 글쓰기 버튼 스타일 */
  .write-button {
    background-color: #4CA9E7;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .write-button:hover {
    background-color: #0056b3;
  }
  
  /* 로딩 텍스트 스타일 */
  .loading-text {
    font-size: 1.2rem;
    color: #666666;
    text-align: center;
    padding: 20px;
  }

  .qna-container {
    width: 70vw;
  }
  
  /* 테이블 스타일 */
  .qna-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .qna-table th {
    /* padding: 0px;
    text-align: left;
    border-bottom: 1px solid #dddddd; */
    background-color: #4CA9E7; /* 시원한 블루톤 */
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    text-align: center;
    /* border-bottom: 2px solid #2c8abe; */
  }

  .qna-table td {
    padding: 12px 15px; /* 패딩 증가로 가독성 향상 */
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }
  
  
  /* .qna-table th {
    background-color: #f2f2f2;
    font-weight: 600;
  } */
  
  /* 테이블 행 hover 효과 */
  .qna-table tbody tr {
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .qna-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  /* 게시글 제목 스타일 */
  .qna-title {
    font-weight: 500;
  }
  
  /* 질문이 없을 경우 텍스트 */
  .no-questions {
    text-align: center;
    padding: 20px;
    color: #888888;
  }
  