.board-edit-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100vw;
    overflow: auto;
    height: 100vh;
  }
  
.board-edit-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
  }

  .board-edit-header {
    width: 100%;
    height: 20vh;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(76, 169, 231, 0.1);
  }

  .qna-header {
    font-size: 1.8rem;
    color: #333333;
    }

  .title-header {
    font-size: 1.2rem;
    color: #333333;
    }

  .board-edit-form {
    width: 100%;
  }