/* src/styles/Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: none;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 20px;
}

.sidebar.open {
  transform: translateX(0);
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
}
.user-header {
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  width: 100%;
  padding: 0; /* 패딩 조정 */
}
.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.user-info {
  text-align: left;
  margin-left: 5px;
}

.username {
  font-size: 18px;
  font-weight: bold;
  margin: 0; 
}

.logout-btn, .login-btn {
  display: block;
  text-align: center;
  width: 95%;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item {
  display: flex;
  justify-content: space-between; /* 텍스트 왼쪽, 화살표 오른쪽 */
  align-items: center; /* 수직 중앙 정렬 */
  width: 100%;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
}

.arrow-icon {
  width: 16px;
  height: 16px;
  margin-left: auto; /* 우측 정렬 */
}

.guide-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.guide-section button {
  width: 95%;
  margin-top: 10px;
}
