  .board-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100vw;
    overflow: auto;
  }
  
  .board-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
  }

  /* 게시판 헤더: 타이틀*/
  .board-header {
    width: 100%;
    height: 20vh;
    text-align: left;
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(76, 169, 231, 0.1);
  }
  
  /* QnA 게시판 타이틀 */
  .qna-header {
    font-size: 1.8rem;
    color: #333333;
  }
  
  /* 글쓰기 버튼 스타일 */
  .write-button {
    background-color: #4CA9E7;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .write-button:hover {
    background-color: #0056b3;
  }
  
 /* 총 게시글 개수 텍스트 */
.total-posts-container {
  width: 100%;
  display: flex;
  justify-content: center; 
}

.total-posts-text {
  font-size: 16px;
  color: #555;
}

.total-posts-number {
  color: #4CA9E7;
  font-weight: bold;
}

  /* 로딩 텍스트 스타일 */
  .loading-text {
    font-size: 1.2rem;
    color: #666666;
    text-align: center;
    padding: 20px;
  }

  .qna-table-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .qna-container {
    width: 100%;
    
  }
  
  /* 테이블 스타일 */
  .qna-table {
    width: 75%;
    /* margin-top: 30px; */
    border-collapse: collapse;
    /* border-radius: 10px; */
    /* overflow: hidden; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
  }
  
  .qna-table th {
    text-align: left;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-top: 2px solid #999;
    border-bottom: 1px solid #ddd;
  }

  .qna-table td {
    padding: 7px 15px; 
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }
  
  /* 테이블 행 hover 효과 */
  .qna-table tbody tr {
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .qna-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  /* 게시글 제목 스타일 */
  .qna-title {
    font-weight: 500;
    width: 70%; 
    text-align: left;
    padding-left: 15px;
  }
  
  .qna-author {
    width: 15%;
    text-align: center;
 }

  .qna-date {
    width: 15%; 
    text-align: right;
    padding-right: 15px;
  }
  /* 질문이 없을 경우 텍스트 */
  .no-questions {
    text-align: center;
    padding: 20px;
    color: #888888;
  }  

  .floating-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #4CA9E7;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .floating-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }
  
  @media screen and (max-width: 800px) {
    .qna-table {
        width: 80%;
    }
  }

  @media screen and (max-width: 480px) {
      .qna-table {
          width: 90%;
      }

      .qna-table th, .qna-table td {
          padding: 8px;
          font-size: 14px; 
      }
  }

  /* 페이지네이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px;
  gap: 10px;
}

.pagination li {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .active {
  background-color: #4CA9E7;
  color: white;
  font-weight: bold;
}

.pagination .prev,
.pagination .next {
  font-weight: bold;
  font-size: 1.2rem;
}

.pagination .disabled {
  color: #ccc;
  pointer-events: none;
}

.pagination a {
  color: inherit !important; /* 부모 요소의 색상을 따르도록 설정 */
  text-decoration: none;
}

